*.sql
*.dump
.buildpath
.cache
.project
.settings
sites/all/modules/contrib/examples/
sites/10088.npt.bkolocal/
sites/10088.spads.bkolocal/
sites/10088.tools.bkolocal/
sites/all/themes/gbif2012/
dummy.php
.DS_Store
sites/all/modules/custom/feeds_xls/PHPExcel/
sites/all/libraries/filemakerapi/
scratchpad_1_database.php
cache/
index2.php