# Ignore configuration files that may contain sensitive information and user-generated content
sites/*/settings*.php
sites/*/files
sites/*/private

# Mac shite and SQL files
*.DS_Store
*.sql
*.dump

cache
dummy.php
sites/default/files
sites/default/settings.php
sites/10088.npt.bkolocal/