[submodule "sites/all/modules/custom/inbio"]
	path = sites/all/modules/custom/inbio
	url = https://github.com/INBio/npt-inbio.git
[submodule "sites/all/libraries/dwca"]
	path = sites/all/libraries/dwca
	url = https://github.com/INBio/DwC-A-PHP-Library.git
