/* Import Mixins and Variables */

ul.admin-list li {
  position: relative;
  padding-left: 30px; /* LTR */
  padding-top: 9px;
  margin-left: 0; /* LTR */
  margin-bottom: 10px;
  background: url("../images/list-item.png") no-repeat 0 11px; /* LTR */
  list-style-type: none;
  list-style-image: none;
}

/* CG Credits in footer */
#credit {
  float: right;
  /* LTR */
  padding: 20px 0 40px;
}

#powered_by_drupal_commerce {
  float: left;
  /* LTR */
  padding-top: 20px;
}

body.in-maintenance #credit {
  color: #fff;
  margin: 0 auto;
  width: 960px;
}

#credit .message {
  clear: right;
  /* LTR */
  float: right;
  /* LTR */
  margin-bottom: 10px;
  width: 180px;
  color: #333;
}

/* CG Logo on White */
#credit .logo a {
  background: transparent url("../images/vibrant_logo_142.png") no-repeat 0 0;
  clear: right;
  /* LTR */
  float: right;
  /* LTR */
  height: 0;
  overflow: hidden;
  padding: 50px 0 0;
  width: 142px;
}

/* CG Logo on Blue */
body.in-maintenance #credit .logo a {
  background: transparent url("../images/vibrant_logo_142.png") no-repeat 0 0;
  height: 70px;
}

/* CG Logo on Black */
#overlay #overlay-content #credit .logo a {
  background: transparent url("../images/vibrant_logo_142.png") no-repeat 0 0;
}

/* Installation/Maintenance Page */
body.in-maintenance {
  background: #95cd83 url("../images/installation-bg.png") repeat 0 0;
  /* Welcome Page Styles */
  /* DFP Styles */
}
body.in-maintenance .body-wrapper {
  background: #95cd83;
  background: -moz-linear-gradient(top, #a8cda1 0%, #95cd83 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a8cda1), color-stop(100%, #95cd83));
  background: -webkit-linear-gradient(top, #a8cda1 0%, #95cd83 100%);
  background: -o-linear-gradient(top, #a8cda1 0%, #95cd83 100%);
  background: -ms-linear-gradient(top, #a8cda1 0%, #95cd83 100%);
  background: linear-gradient(to bottom, #a8cda1 0%, #95cd83 100%);
}
body.in-maintenance .body-wrapper .page-outer {
  background: transparent url("../images/installation-bg.png") repeat 0 0;
  padding: 40px 0;
}
body.in-maintenance #branding {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  box-shadow: none;
  background: #f4f4f4;
  border: 1px solid #edebeb;
  margin: 0;
  padding: 20px 40px;
  width: 960px;
}
body.in-maintenance #branding h1.page-title {
  color: #747474;
  float: right;
  /* LTR */
  font-size: 32px;
  font-weight: 100;
  line-height: 80px;
  padding: 0;
  width: 550px;
}
body.in-maintenance #page {
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.28);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.28);
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background: transparent;
  background: #ffffff;
  padding: 0;
  width: 960px;
  overflow: hidden;
}
body.in-maintenance .page-wrapper {
  padding: 40px;
  width: 960px;
}
body.in-maintenance .logo-wrapper {
  float: left;
  /*LTR */
}
body.in-maintenance #logo {
  margin: 0;
  max-width: 100%;
}
body.in-maintenance #sidebar-first {
  width: 270px;
}
body.in-maintenance fieldset .fieldset-wrapper,
body.in-maintenance fieldset.collapsible {
  border: 1px solid #ccc;
  padding: 15px;
}
body.in-maintenance fieldset .fieldset-wrapper input.form-text,
body.in-maintenance fieldset.collapsible input.form-text {
  width: 100%;
}
body.in-maintenance ol.task-list {
  background: transparent url("../images/wizard-bg.png") repeat-y 0 0;
}
body.in-maintenance ol.task-list li {
  background: transparent url("../images/tasks-inactive.png") no-repeat 5px 4px;
  color: #9a9a9a;
  font: normal 400 16px/18px "Open Sans", Arial, sans-serif;
  height: 30px;
  padding: 6px 0 0 40px;
  /* LTR */
  margin: 0 0 22px 0;
  /* LTR */
}
body.in-maintenance ol.task-list li.active {
  background: transparent url("../images/tasks-active.png") no-repeat 5px 4px;
  color: #2e87cd;
}
body.in-maintenance ol.task-list li.done {
  background: transparent url("../images/tasks-complete.png") no-repeat 5px 4px;
  color: #75cd27;
}
body.in-maintenance .form-item-install-demo-store .form-radios {
  float: left;
  /* LTR */
}
body.in-maintenance .form-item-install-demo-store .description {
  background: transparent url("../images/small-pointer.png") no-repeat 0 3px;
  margin-left: 80px;
  /* LTR */
  padding: 3px 5px 5px 23px;
  /* LTR */
}
body.in-maintenance div.form-type-password {
  width: 500px;
}
body.in-maintenance .password-strength {
  width: 15em;
}
body.in-maintenance .form-item-extras label[for=edit-extras] {
  clear: both;
}
body.in-maintenance #edit-submit.form-disabled {
  opacity: .5;
  cursor: auto;
}
body.in-maintenance .form-submit:hover {
  background: #359ff2;
  text-decoration: none;
}
body.in-maintenance .form-submit {
  background: -moz-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -webkit-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -o-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -ms-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: linear-gradient(to bottom, #36a2f6 0%, #2f88cd 100%);
  border: 1px solid #2f88cd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  font: normal 500 16px/16px "Open Sans", Arial, sans-serif;
  color: #fff;
  margin-left: 1px;
  margin-top: 1px;
  padding: 6px 30px;
  text-shadow: 0 -1px 1px #2F88CD;
}
body.in-maintenance #install-welcome > div > p {
  margin-top: 0;
}
body.in-maintenance #eula-installation-welcome {
  background: #f4f4f4;
  border: 1px solid #edebeb;
  padding: 0 20px 10px;
  font-size: .9em;
  line-height: 1.5em;
}
body.in-maintenance #eula-installation-welcome ul {
  margin-bottom: 20px;
}
body.in-maintenance #eula-installation-welcome ul li {
  margin-bottom: 10px;
}
body.in-maintenance #eula-installation-welcome .form-item-eula-accept label.option {
  line-height: 2em;
}
body.in-maintenance #progress {
  margin-bottom: 50px;
}
body.in-maintenance #dfp-wrapper {
  background: transparent url("../images/install-dfp-message.png") no-repeat 0 45px;
  min-height: 250px;
}
body.in-maintenance .dfp-install-ad {
  background: transparent url("../images/dfp-offline.png") no-repeat center center;
  box-shadow: 0 0 1px #333;
  float: right;
  height: 250px;
  width: 300px;
}

body.installing-demo-store ol.task-list,
body.importing-content ol.task-list,
body.installing-additional-functionality ol.task-list {
  background: transparent url("../images/wizard-bg2.png") repeat-y 0 0;
}
