.ui-progressbar {
  position: relative;
  width: 50%;
}
.progressbar-label {
  position: absolute;
  left: 20%;
  top: 3px;
  font-size: 0.95em;
}
#edit-update-submit {
  position: relative;
  display: inline-block;
  float: left;
}
#progressbar {
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 10px;
  height: 25px;
}