.ui-progressbar {
  position: relative;
  width: 50%;
}
.progressbar-label {
  position: absolute;
  left: 20%;
  top: 3px;
  font-size: 0.95em;
}
#edit-update-submit {
  float: none;
  margin-bottom: 10px;
}
#status-wrapper {
  display: block;
}
.ajax-progress {
  display: block;
  width:100%;
}