@CHARSET "UTF-8";

.block-npt-setup .setup-complete{
  border: 1px solid #D4D4D4;
  padding: 1px;
  margin-bottom: 5px;
}

.block-npt-setup .zero-complete{
  background: #BB1023;
}

.block-npt-setup .half-complete{
  background: #FCAD00;
}

.block-npt-setup .complete{
  background: #94C821;
}

.block-npt-setup p{
  float: left;
  width: 100px;
}

.block-npt-setupT a{
  text-align: right;
  display: block;
}

.wizard-trail-current {
  color: black;
}

.npt-setup-welcome-text {
  max-width: 680px;
}

.npt-setup-welcome-text p {
  margin-bottom: 10px;
}
#edit-front-page-welcome-message-format,
#edit-about-us-format,
#edit-synopsis-text-format {
  border: none;
}
#edit-front-page-welcome-message-format div.fieldset-content { padding: 5px; }
#edit-about-us-format div.fieldset-content { padding: 5px; }
#edit-synopsis-text-format div.fieldset-content { padding: 5px; }