@CHARSET "UTF-8";

.block-npt-setup .setup-complete{
  border: 1px solid #D4D4D4;
  padding: 1px;
  margin-bottom: 5px;
}

.block-npt-setup .zero-complete{
  background: #BB1023;
}

.block-npt-setup .half-complete{
  background: #FCAD00;
}

.block-npt-setup .complete{
  background: #94C821;
}

.block-npt-setup p{
  float: left;
  width: 100px;
}

.block-npt-setupT a{
  text-align: right;
  display: block;
}

.wizard-trail-current {
  color: black;
}

/*
.npt-setup-welcome-text {
  max-width: 720px;
}

#npt-setup-welcome-form h3 {
  margin-bottom: 10px;
}
#npt-setup-welcome-form p {
  margin-bottom: 10px;
}

#npt-setup-front-form label {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.text-format-wrapper {
  border: 1px solid #ddd;
  margin:10px 0 10px 0;
}

.ckeditor_links {
  padding-left: 10px;
}

div.text-format-wrapper div.description {
  font-size: 1em;
  padding-left: 20px;
  margin-bottom: 20px;
}

.form-item.form-type-textarea.form-item-front-page-welcome-message-value {
  border: none;
}

#edit-front-page-welcome-message-format {
  border: none;
}

.fieldset-content.fieldset-wrapper.clearfix {
  background: none;
}
*/