svg {
  font: 10px sans-serif;
}

text.title {
  font: 300 45px DINOT-Regular;
  fill: #666;
}

.rule line {
  stroke: #fff;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.rule:first-child line {
  stroke: #000;
  stroke-opacity: 1;
}

rect {
  fill-opacity: .6;
  fill: #FFB140;
}

rect:first-child {
  fill: #679ED2;
}

div#chart {
  margin: 0px;
  padding: 0px;
}