.rule line {
  stroke: #888;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.rule:first-child line {
  stroke: #333;
  stroke-opacity: .7;

g.rule text { font-family: Helvetica, sans-serif; }