.alignRight { text-align: right; }
thead th.alignRight { padding-right: 18px; }

/*
 * table display
 */
#dataGridWrapper {  } 
table#dataGrid.display.dataTable { margin-bottom: 5px; font-size: 0.9em; border: none; }
div#dataGrid_info.dataTables_info { float:left; font-size: 0.9em; }
div#dataGrid_paginate.dataTables_paginate.paging_two_button { float: right; font-size: 0.9em; }

#dataGrid thead  { border-bottom: 1px solid #aaa; }
#dataGrid th { border: none; }
#dataGrid tr { border: none; }
#dataGrid tbody { border-bottom: 1px solid #aaa; }

/*
 * Sorting
 */
.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}

th:active {
	outline: none;
}

/* paginate */

.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_disabled_previous {
	background: url('../images/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
	background: url('../images/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
	background: url('../images/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_next {
	background: url('../images/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
	background: url('../images/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
	background: url('../images/forward_enabled_hover.png') no-repeat top right;
}

#publicationTable thead  { border-bottom: 1px solid #aaa; }
#publicationTable th { border: none; }
#publicationTable tr { border: none; }
#publicationTable tbody { border-bottom: 1px solid #aaa; }
table#publicationTable.display.dataTable { margin-bottom: 5px; font-size: 0.9em; border: none; }

#publicationChart svg g rect.GBIF_used { fill: #4DB12D; }
#publicationChart svg g rect.GBIF_discussed { fill: #5DC73C; }
#publicationChart svg g rect.GBIF_mentioned { fill: #A8F590; }
#publicationChart svg g rect.other { fill: #D3F5C8; }

#publicationTable_wrapper {
  margin-left: 20px;
}

#publicationChartLegend {
  position: absolute;
  top: 100px;
  left: 10px;
}